.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.featured {
  background-color: var(--light-grey-color);
  margin-top: 40px;
}

.columns.featured h2 {
  margin: 18px 0;
}

.columns.featured h2::after {
  display: none;
}

.columns.featured > div {
  gap: 0;
}

.columns.featured > div > div {
  padding: 0 32px;
}

.columns.featured > div > .columns-img-col {
  padding: 0;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
