.writer-block {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
  text-align: center;
}

.writer-card .writer-card-image {
  line-height: 0;
}

.writer-card .writer-card-image img {
  width: 164px;
  height: 164px;
  object-fit: cover;
  border-radius: 50%;
}

.writer-card .writer-card-body {
  margin: 16px;
}

.writer-card .writer-card-body h6 {
  font-family: var(--body-font-family-bold);
  font-size: var(--heading-font-size-xxs);
  text-transform: uppercase;
}

.writer-card .writer-card-body p {
  display: inline-flex;
}

.writer-card .writer-card-body p a {
  background-color: var(--dark-color);
  display: flex;
  padding: 10px;
  line-height: 0;
  text-indent: -9999px;
}

.writer-card .writer-card-body p img {
  width: auto;
  height: 20px;
  border-radius: 0;
}
